#about {
  position: fixed;
  top: 40px;
  right: 40px;
  color: #90FFBC;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 20px;
  font-weight: 400;
  z-index: 999;
}

#about:focus {outline:none;}


#aboutsection {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.86);
  color: white;
  z-index: 1;
  font-size: 30px;
  font-weight: 300;
  display: none;
}
