#HCB_comment_box {
  position: relative;
  height: 50vh;
  width: 50vw;
  margin: auto;
  top: 25%;
  color: white;
  overflow: auto;
}

#HCB_comment_box h3 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}

#HCB_comment_box p {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

#HCB_comment_box a {
  padding: 0;
  font-size: 16px;
}

#HCB_comment_box span {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0px;
}



#HCB_comment_form_box  {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

input{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
}


textarea {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

#hcb_submit {
  background-color: #D5C6FF;;
  border-radius: 2px;
  cursor: pointer;
  color: black;
}
