.commentbox {
  display: block;
  width: 100vw;
  height: 100vh;
  float: left;
  margin-left: 0;
  overflow: scroll;
}

.commentbox:: -webkit-scrollbar-thumb {
background-color: red;
outline: 1px solid green;
}


#HCB_comment_box {
  position: relative;
  height: 80vh;
  width: 80vw;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  overflow: scroll;
}

#HCB_comment_box:: -webkit-scrollbar-thumb {
background-color: red;
outline: 1px solid green;
}



#HCB_comment_box h3 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}

#HCB_comment_box p {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

#HCB_comment_box a {
  padding: 0;
  font-size: 16px;
}

input{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
}


textarea {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

#HCB_comment_box span {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0px;
}


#HCB_comment_form_box  {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 200px;
  overflow: scroll;
  scrollbar-base-color: white;
}



#HCB_comment_form_box textarea {
  height: 50px;
}

#hcb_submit {
  background-color: #D5C6FF;;
  border-radius: 2px;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
  color: black;
}
