@font-face {
  font-family: 'Formular';
   src: local('Formular'),
    local('Formular-Medium'),
     url('Formular.otf');
}

@font-face {font-family: "Hellovetica";
src: url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.eot");
src: url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.eot?#iefix")
format("embedded-opentype"),
 url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.woff2")
 format("woff2"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.woff")
 format("woff"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.ttf")
 format("truetype"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.svg#Hellovetica")
 format("svg"); }



body {
  font-family:'Formular','Helvetica Neue', Helvetica, Arial;
}


h1 {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 400;
  color: #D5C6FF;
  overflow: visible;
}



h2 {
  font-size: 80px;
  line-height: 1.1;
  font-weight: 400;
  color: white;
  overflow: visible;

}


p {
  font-size: 26px;
  font-weight: 300;
  color: white;
  line-height: 1.35;
  overflow:visible;
}


a {
  font-size: 26px;;
  font-weight: 300;
	color: #90FFBC;
  text-decoration: none;
  line-height: 1.35;
}

#inline {
  line-height: 1.35;
  display: inline;
}

small {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  font-style: italic;
}


span {
  -webkit-text-fill-color: rgba(0, 0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white;
}

h1 span{
  -webkit-text-stroke-color: #D5C6FF;
}

mark {
  background-color: #D5C6FF;
  color: #D5C6FF;
}

mark:hover {
  background-color: rgba(0,0,0,0);
  color: #D5C6FF;
}

hr {
  height:1px;
  border-width:0;
  color:gray;
  background-color:gray
}


#white {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
}

#lavender {
  -webkit-text-fill-color: #D5C6FF; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
}

#purple {
  -webkit-text-fill-color: #7000FF; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
  font-weight: 500;
}

#purplenormal {
  -webkit-text-fill-color: #7000FF; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
}

#mint {
  -webkit-text-fill-color: #90FFBC; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
  font-weight: 500;
}

#mintnormal {
  -webkit-text-fill-color: #90FFBC; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
}

#bold {
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
  font-weight: 500;
}

#boldwhite {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0;
  font-weight: 500;
}
