@font-face {
  font-family: 'Formular';
   src: local('Formular'),
    local('Formular-Medium'),
     url('Formular.otf');
}

@font-face {font-family: "Hellovetica";
src: url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.eot");
src: url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.eot?#iefix")
format("embedded-opentype"),
 url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.woff2")
 format("woff2"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.woff")
 format("woff"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.ttf")
 format("truetype"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.svg#Hellovetica")
 format("svg"); }

 ::-webkit-scrollbar-thumb {
   background: blue;
 }

* {
	padding: 0;
	margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

body {
    background-color: black;
    overflow: hidden;
}

#logo {
  position: fixed;
  top: 40px;
  left: 40px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  z-index: 999;
}


.progress-container {
  background: #4D4D4D;
  width: 100%;
  height: 8px;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.progress-bar {
  height: 8px;
  background: #D5C6FF;
  width: 0%;
  position: fixed;
  z-index: 999;
}

.progress-marker {
  position: fixed;
  bottom: 0;
  height: 8px;
  width: 8px;
  background: white;
  z-index: 999;
}

#marker1 {
  left: 24%;
}

#marker2 {
  left: 55%;
}

#marker3 {
  left: 80%;
}



.chapter {
  position: absolute;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  perspective: 1px;
}

#intro {
  left: 0;
  z-index: 0;
}

#near {
  left: 400vw;
  z-index: 1;
}

#speculative {
  left: 1000vw;
  z-index: 2;
}

#outro {
  left: 1400vw;
  z-index: 3;
}


.background {
  position: absolute;
  width: 200%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: -2;
  transform: translateZ(-1px) scale(2);
}

#background1 {
  background-image: url("img/wetransfer-colorpush-artwork_5.gif");
}

#background2 {
  background-image: url("img/wetransfer-colorpush-artwork_lite.gif");
}

#background3 {
  background-image: url("img/wetransfer-colorpush-artwork_5.gif");
}

#background4 {
  background-color: black;
}



.seperator {
  display: block;
  position: relative;
  height: 100vh;
  width: 20px;
  left: -9px;
  float: left;
  margin-left: 0;
  background-image: url("img/line2.png");
  background-repeat: repeat-y;
  z-index: 2;
}


.section {
  display: block;
  width: 100vw;
  height: 100vh;
  float: left;
  margin-left: 0;
}

.smallsection {
  display: block;
  width: 50vw;
  height: 100vh;
  float: left;
  margin-left: 0;
}


.content {
	height: 100%;
	width: 50%;
	position: relative;
	margin: auto;
  top: 50%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.largecontent {
  height: 100%;
  width: 80%;
  position: relative;
  margin: auto;
  vertical-align: middle;
  top: 50%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.smallcontent {
  height: 100%;
  width: 100;
  position: relative;
  margin: auto;
  padding-left: 20px;
  top: 50%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}


.figma {
	height: 100vh;
	width: 75vw;
	border: none;
}

.phone {
	height: 100vh;
	width: auto;
	border: none;
}

#hirehaxx {
	height: 100vh;
	width: 50vw;
	border: none;
}


.imagecontainer {
  position: relative;
  text-align: center;
  height: 60vh;
  width: 100%;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.image {
    text-align: center;
    margin: auto;
    max-width:100%;
    max-height:100%;
}

.videocontainer {
  position: relative;
  height: 80vh;
  width: auto;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.video {
  height: 100%;
}


.imagecontainer:hover {
    height: 80vh;
}
