@font-face {
  font-family: 'Formular';
   src: local('Formular'),
    local('Formular-Medium'),
     url('Formular.otf');
}

@font-face {font-family: "Hellovetica";
src: url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.eot");
src: url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.eot?#iefix")
format("embedded-opentype"),
 url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.woff2")
 format("woff2"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.woff")
 format("woff"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.ttf")
 format("truetype"), url("//db.onlinewebfonts.com/t/a88a60b3d148d2698fcf827348b8b6fc.svg#Hellovetica")
 format("svg"); }



* {
	padding: 0;
	margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

body {
    background-color: black;
    overflow: hidden;
}

#logo {
  position: fixed;
  top: 40px;
  left: 40px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  z-index: 999;
}


#timeline {
    position: absolute;
  	width: 3100vw;
    height: 20px;
    left: 0;
    bottom: 0;
    background-image: url("img/line2.png");
    background-repeat: repeat-x;
    z-index: 999;
  }

  .progress-container {
  width: 100%;
  height: 8px;
  position: fixed;
  z-index: 999;
}

.progress-bar {
  height: 8px;
  background: #D5C6FF;
  width: 0%;
  position: fixed;
  z-index: 999;
}



.chapter {
  position: absolute;
  margin-left: 0;
  display: block;
  overflow: hidden;
  perspective: 1px;
}

#intro {
  width: 800vw;
  left: 0;
  z-index: 0;
}

#near {
  width: 1200vw;
  left: 400vw;
  z-index: 1;
}

#speculative {
  width: 900vw;
  left: 1000vw;
  z-index: 2;
}

#outro {
  width: 200vw;
  left: 1450vw;
  z-index: 3;
}


.background {
  position: absolute;
  width: 200%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: -2;
  transform: translateZ(-1px) scale(2);
}

#background1 {
  background-image: url("img/wetransfer-colorpush-artwork_5.gif");
	}

#background2 {
  background-image: url("img/wetransfer-colorpush-artwork_lite.gif");
}

#background3 {
  background-image: url("img/wetransfer-colorpush-artwork_5.gif");
}

#background4 {
  background-color: black;
}



.seperator {
  display: block;
  position: relative;
  height: 100vh;
  width: 20px;
  left: -9px;
  float: left;
  margin-left: 0;
  background-image: url("img/line2.png");
  background-repeat: repeat-y;
  z-index: 2;
}


.section {
		display: block;
		width: 100vw;
		height: 100vh;
		float: left;
		margin-left: 0;
}

.smallsection {
		display: block;
		width: 50vw;
		height: 100vh;
		float: left;
		margin-left: 0;
}


.content {
	height: 100%;
	width: 50%;
	position: relative;
	margin: auto;
  top: 50%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.largecontent {
  height: 100%;
  width: 80%;
  position: relative;
  margin: auto;
  vertical-align: middle;
  top: 50%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.smallcontent {
  height: 100%;
  width: 100;
  position: relative;
  margin: auto;
  padding-left: 20px;
  top: 50%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}


.phone {
	height: 100vh;
	width: auto;
	border: none;
}

.figma {
	height: 100vh;
	width: 75vw;
	border: none;
}


.imagecontainer {
  position: relative;
  height: 50vh;
  width: auto;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.image {
    height: 100%;
}

.videocontainer {
  position: relative;
  height: 80vh;
  width: auto;
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.video {
  height: 100%;
}


.imagecontainer:hover {
    height: 80vh;
}
