@font-face {
  font-family: 'Formular';
   src: local('Formular'),
    local('Formular-Medium'),
     url('Formular.otf');
}



* {
	padding: 0;
	margin: 0;
  background-color: black;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -webkit-text-stroke: 0.45px;

}

	body {
    overflow: hidden;
		font-family:'Formular','Helvetica Neue', Helvetica, Arial;
	}

#filler {
		position: absolute;
		top: 0;
		left: 0;
		width: 1000vw;
		height: 100%;
	}

#container {
		width: 10000vw;
		position: absolute;
}


#timeline {
  position: absolute;
	width: 1000vw;
  height: 20px;
  left: 0;
  bottom: 0;
  /*background: linear-gradient( 90deg, #4200FF, #ADFF00);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: visible;
  */
  background-image: url("img/line2.png");
  background-repeat: repeat-x;
  z-index: 2;
}

.seperator {
  display: block;
  height: 100vh;
  width: 20px;
  float: left;
  margin-left: 0;
  background-image: url("img/line2.png");
  background-repeat: repeat-y;
  z-index: 3;
}


.section {
		display: block;
		width: 100vw;
		height: 100vh;
		float: left;
		margin-left: 0;
}

.smallsection {
		display: block;
		width: 50vw;
		height: 100vh;
		float: left;
		margin-left: 0;
}


.content {
	height: 100%;
	width: 66%;
	position: relative;
	top: 200px;
	margin: auto;
}

.largecontent {
  height: 100%;
  width: 66%;
  position: relative;
  margin: auto;
  vertical-align: middle;
  top: 100px;
}


.figma {
	height: 100vh;
	width: 50vw;
	border: none;
}


.image {
  height: 300px;
  width: 300px;
}


h1 {
  font-size: 100px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  color: #D5C6FF;


}

h2 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #D5C6FF;

}

p {
  font-size: 30px;
  font-weight: 300;
  color: white;
  line-height: 1.35;
}

a {
  font-size: 30px;
  font-weight: 300;
	color: #4200FF;
  text-decoration: none;
  line-height: 1.35;
}
