#title {
  -webkit-text-fill-color: #242424 !important;
  background-image: url("./img/bg2.gif");
  background-size: auto 150%;
}

#titlesection1 {
  display: block;
  width: 47vw;
  height: 100vh;
  margin: auto;
	overflow: visible;
}

#titlesection2 {
  display: block;
  width: 53vw;
  height: 100vh;
  margin-left: 0;
	overflow: visible;
}


#bm {
  height: auto;
  width: 960px;
  position: relative;
	padding-bottom: 5vh;
  top: 50%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#title2 {
  height: auto;
  width: 45vw;
  position: relative;
  vertical-align: left;
	padding-bottom: 5vh;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#title2 h1 {
  font-size: 85px;
}
