#titlesection1 {
  display: block;
  width: 40vw;
  height: 100vh;
  float: left;
  margin-left: 0;
	overflow: visible;
}

#titlesection2 {
  display: block;
  width: 60vw;
  height: 100vh;
  float: left;
  margin-left: 0;
	overflow: visible;
}


#title1 {
  height: auto;
  width: 90%;
  position: relative;
  margin-left: 10%;
  vertical-align: left;
	padding-bottom: 10vh;
  top: 28%;
}

#title2 {
  height: auto;
  width: 80%;
  position: relative;
  margin: auto;
  vertical-align: left;
	padding-bottom: 10vh;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bm {
	position: absolute;
  width: 100vw;
  left: -25%;
  margin: auto;
	z-index: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
