#titlesection1 {
  display: block;
  width: 44vw;
  height: 100vh;
  margin: auto;
	overflow: visible;
}

#titlesection2 {
  display: block;
  width: 56vw;
  height: 100vh;
  margin-left: 0;
	overflow: visible;
}


#title1 {
  height: auto;
  width: 85%;
  position: relative;
  margin-left: 15%;
  vertical-align: left;
	padding-bottom: 5vh;
  top: 28%;
}

#title2 {
  height: auto;
  width: 85%;
  position: relative;
  margin-right: 15%;
  vertical-align: left;
	padding-bottom: 5vh;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bm {
  height: auto;
  width: 85%;
  position: relative;
  margin-left: 15%;
  vertical-align: left;
	padding-bottom: 5vh;
  top: 28%;
}
